<!-- titel font -->
<link href="https://fonts.googleapis.com/css2?family=Baloo+Tamma+2:wght@600&display=swap" rel="stylesheet">
<!-- subtitle font -->
<link href="https://fonts.googleapis.com/css2?family=PT+Sans&display=swap" rel="stylesheet">
<!-- location font -->
<link href="https://fonts.googleapis.com/css2?family=Satisfy&display=swap" rel="stylesheet">

{%- assign _excerpt_truncate = include.excerpt_truncate | default: 500 -%}

{%- assign _excerpt_type = include.excerpt_type -%}

{%- include snippets/get-locale-string.html key='READMORE' -%}
{%- assign _locale_readmore = __return -%}

{%- if include.articles -%}
    {%- assign _sorted_list = include.articles -%}
{%- endif -%}


{%- if include.group_by == 'year' -%}
  {%- assign _sorted_list = _sorted_list | sort: 'date' -%}
{%- endif -%}
{%- if include.reverse -%}
  {%- assign _sorted_list = _sorted_list | reverse -%}
{%- endif -%}

<div class="article-list items items--divided">


{%- for _article in _sorted_list -%}

{%- include snippets/prepend-baseurl.html path=_article.url -%}
{%- assign _article_url = __return -%}

{%- if _article.cover -%}
    {%- include snippets/get-nav-url.html path=_article.cover -%}
    {%- assign _article_cover = __return -%}
{%- endif -%}

    {%- if include.article_type == 'BlogPosting' -%}
    <article class="item" itemscope itemtype="http://schema.org/BlogPosting">
    {%- else -%}
    <article class="item">
    {%- endif -%}

        {%- if _article.cover and include.show_cover-%}
            {%- include snippets/get-nav-url.html path=_article.cover -%}
            {%- assign _article_cover = __return -%}
            <div class="item__image">
                <img class="image image--experience" src="{{ _article_cover }}" />
            </div>
        {%- endif -%}
        
        <div class="item__content">
            <div class="item__head">
                <header><a href="{{ _article_url }}"><h2 itemprop="headline" class="item__title">{{ _article.title }}</h2></a></header>
            
                {%- if _article.subtitle -%}
                <div class="item__subtitle">
                    {{ _article.subtitle}}
                </div>
                {%- endif -%}

                {%- if _article.timeline -%}
                <div class="item__timeline">
                    {{ _article.timeline}}
                </div>
                {%- endif -%}
    
                {%- if _article.location -%}
                <div class="item__location">
                    {{ _article.location}}
                </div>
                {%- endif -%}
            </div>
            
            <div class="item__description">
            {%- if _article.excerpt and include.show_excerpt -%}
                <div class="article__content" itemprop="description articleBody">
                {%- if _excerpt_type == 'html' -%}
                    {{ _article.excerpt }}
                {%- else -%}
                    {{ _article.excerpt | strip_html | strip | truncate: _excerpt_truncate }}
                {%- endif -%}
                </div>
            {%- endif -%}

            {%- if include.show_readmore -%}
                <p><a href="{{ _article_url }}">{{ _locale_readmore }}</a></p>
            {%- endif -%}
            </div>

            {%- if include.show_info -%}
            {%- include snippets/assign.html target=site.data.variables.default.page.pageview
                source0=_article.pageview -%}
            {%- assign _show_pageview = __return -%}
            {%- include article-info.html article=_article show_pageview=_show_pageview -%}
            {%- endif -%}
        </div>
    </article>

{%- endfor -%}

</div>
