.publication-list {
    font-size: map-get($base, font-size);

    .title {
        font-weight: bold;
        font-size: map-get($base, font-size-main);;
    }
    .conference {
        font-style: italic;
        color: rgb(75, 75, 75);
    }

    a.author:link, a.author:visited {
        font-weight: normal;
        border-bottom: dotted 1pt;
        color: rgb(82, 0, 0);
    }

    a.source:link, a.source:visited {
        font-weight: 600;
    }
}
